.navbar{
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
background: transparent;
}

.middle{
    display: flex;
    flex-direction: row;
}

.ul{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    color: #fff;

}

.ul li {
    cursor: pointer;
}